.project-taskmanagement-addtaskwizard {
    width: 32rem;
    padding: 1.25rem calc(50% - 16rem) 0;
    padding: 1.25rem -webkit-calc(50% - 16rem) 0;
}

.hideItem {
  display: none;
}

.apps-dita-publish-createreview .create-review-button.button-disabled {
  border-color: #e6e6e6;
  background-color: #f0f0f0;
  color: #b4b4b4;
  text-shadow: none;
  pointer-events: none;
}


.apps-dita-publish-createreview .create-review-button.button-disabled:hover {
  background-color: #505050;
}
