section .container .main-body-content,#right-clone-content,#left-clone-content {
      a.xref, a.pwc-xref {
        color: $color-primary !important;
        &:hover {
          text-decoration: underline;
        }
      }
      @include qa-lead;
      p,blockquote {
        font-size: 18px;
        font-family: $font-helvetica;
        color: $color-dark;
        line-height: 1.38;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        padding-bottom: 15px;
        word-break: break-word;
        a {
          color: $color-light;

          &:hover {
            text-decoration: underline;
          }
        }
        em {
          font-style: italic;
        }
      }

      span.strikethrough{
        text-decoration:line-through;
      }

      p, div{
        &.underline{
          text-decoration: underline;
        }
      }

      span.underline{
        text-decoration: underline;
      }

      .text-right{
        text-align: right !important;
      }

      .text-center{
        text-align: center !important;
      }

      h1, .h1 {
        font-family: $font-helvetica;
        font-size: 42px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 56px;
        letter-spacing: normal;
        text-align: left;
        color: $color-dark;
        padding: 9px 0px;
      }

      h2, .h2{
        font-family: $font-helvetica !important;
        font-size: 24px !important;
        font-weight: bold !important;
        font-style: normal;
        font-stretch: normal;
        line-height: 28px;
        letter-spacing: normal;
        text-align: left;
        color: $color-dark;
        padding: 9px 0px;
        margin-bottom: 0 !important;
      }

      h3, .h3{
        font-family: $font-helvetica !important;
        font-size: 21px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 24px;
        letter-spacing: normal;
        text-align: left;
        color: $color-dark;
        padding: 9px 0px;
      }

      h4, .h4 {
        font-size: 18px !important;
        font-family: $font-helvetica !important;
        line-height: 24px;
        color: $color-dark;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        padding: 9px 0px;
      }

      h5, .h5{
        font-family: $font-helvetica !important;
        font-size: 21px !important;
        font-weight: normal;
        font-style: italic !important;
        font-stretch: normal;
        line-height: 24px;
        letter-spacing: normal;
        text-align: left;
        color: $color-dark;
        padding: 9px 0px;
      }

      @include tag-shading;


      .goto-truncate-link{
        padding-bottom: 0px !important;
      }

      .table-responsive {
        th, td {
          &.middle-align {
            vertical-align: middle;
          }
          &.bottom-align {
            vertical-align: bottom;
          }
        }
        table.asu_table {
          colgroup {
            col {
              &:first-child {
                width: 30%;
              }
              &:nth-child(2) {
                width: 10%;
              }
              &:nth-child(3){
                width: 42%;
              }
              &:nth-child(4) {
                width: 10%;
              }
            }
          }
        }
      }

      .table-shading {
        padding-bottom: 0;
        caption{
          font-family: $font-helvetica;
          font-size: 21px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: 2;
          letter-spacing: normal;
          text-align: center;
          color: $color-dark;
          padding: 6px 0px;

          &.shade{
            &.dark-rose{
              background-color: $table-dark-rose !important;
              color: $color-white !important;
            }
            &.dark-orange{
              background-color: $table-dark-orange !important;
              color: $color-white !important;
            }
            &.dark-yellow{
              background-color: $table-dark-yellow !important;
              color: $color-white !important;
            }
            &.dark{
              background-color: $table-dark !important;
              color: $color-white !important;
            }
          }
        }

        .table-responsive {
          padding-top: 0px;
          margin-bottom: 0px;
          padding-bottom: 0px !important;
          table {
            thead, tbody{
              tr{
                text-align: center;
                &.shade, td, th{
                  &.rose{
                    background-color: $table-rose;
                  }
                  &.light-orange{
                    background-color: $table-light-orange;

                  }
                  &.light-yellow{
                    background-color: $table-light-yellow;
                  }
                  &.grey{
                    background-color: $table-dark-light;
                  }
                }
                th {
                  min-width: 115px;
                  & > div {
                    font-weight: bold;
                   }
                }
              }
            }
          }
        }
        .table-footer-note{
          font-family: $font-helvetica;
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.43;
          letter-spacing: normal;
          color: $color-dark;
          padding-bottom: 40px;
        }
      }

      .table{
        background-color: transparent;

        &.pwc-table-text {
          td, th {
            & > div {
              font-size: 18px;
              @media (min-width: 240px) and (max-width: 768px) {
                font-size: 14px;
              }
              .xref, .pwc-xref {
                font-size: 18px;
                @media (min-width: 240px) and (max-width: 768px) {
                  font-size: 14px;
                }
              }
            }
          }
        }

        .pwc-table-text {
          td, th {
            & > div {
              font-size: 18px;
              @media (min-width: 240px) and (max-width: 768px) {
                font-size: 14px;
              }
              .xref, .pwc-xref {
                font-size: 18px;
                @media (min-width: 240px) and (max-width: 768px) {
                  font-size: 14px;
                }
              }
            }
          }
        }

        td, th {
          border: none;
          & > div {
            font-size: 14px;
          }
        }
        .border-top{
          border-top:1px solid $color-light;
        }
        .border-bottom{
          border-bottom:1px solid $color-light;
        }
        .border-right{
          border-right:1px solid $color-light;
        }
        .border-left{
          border-left:1px solid $color-light;
        }
        .full-border{
          border:1px solid $color-light;
        }
        .no-border{
          border: 0;
        }
        .text-align-left, .text-left {
          text-align: left !important;
        }
        .align-center, .text-align-center, .text-center {
          text-align: center !important;
        }
        .text-right, .text-align-right {
          text-align: right !important;
        } 
        .text-align-justify, .text-justify {
          text-align: justify !important;
        }
        .vertical-align-top {
          vertical-align: top !important;
        }
        .vertical-align-bottom {
          vertical-align: bottom !important;
        }
        tr.rowsep {
          border-top: 1px solid $color-light !important;
          border-bottom: 1px solid $color-light !important;
        }
        &.none, .frame-none {
          border: none !important; 
        }
        &.frame-top {
          border-top: 1px solid $color-light;
        }
        &.frame-bottom {
          border-bottom: 1px solid $color-light;
        }
        &.frame-topbot {
          border-top: 1px solid $color-light;
          border-bottom: 1px solid $color-light;
        }
        &.frame-sides {
          border-left: 1px solid $color-light;
          border-right: 1px solid $color-light;
        }
      }
      table.ruled{
        td,th{
          border:1px solid $color-light !important;
        }
      }
      table.outer-borders-only{
        thead{
          tr{
            th{
              border-top: 1px solid $color-light !important;
              &:first-child{
                border-left: 1px solid $color-light !important;
              }
              &:last-child{
                border-right: 1px solid $color-light !important;
              }
            }
          }
        }
        tbody{
          tr{
            td{
              &:first-child{
                border-left: 1px solid $color-light !important;
              }
              &:last-child{
                border-right: 1px solid $color-light !important;
              }
            }
            &:last-child{
              td{
                border-bottom: 1px solid $color-light !important;
              }
            }
          }
        }
      }

      p, div {
        &{
          @include download-icon-anchor;
        }
      }

      .at-a-glance {
        background-color: $background-color-light;
        padding: 17px 20px;

        p:nth-child(1),div:nth-child(1) {
          padding-bottom: 5px;

          strong {
            font-family: $font-helvetica;
            font-size: 21px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.3;
            letter-spacing: normal;
            color: $color-dark !important;
          }
        }

        p:nth-child(2),div:nth-child(2) {
          padding-bottom: 10px;
          line-height: 1.30;
        }
      }

      .exerpt {
        border-left: 1px solid $color-dark;
        border-right: 1px solid $color-dark;
        padding-left: 29px;
        padding-right: 29px;
        margin-bottom: 39px;
        margin-left: 29px;
        margin-right: 29px;
        padding-bottom: 0px;

        .image {
          img {
            width: auto;
          }
        }

        strong {
          font-family: $font-helvetica;
          font-size: 21px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.30;
          letter-spacing: normal;
          text-align: left;
          color: #2d2d2d;
        }
      }

      .callout {
        border-top: 1px solid $color-dark;
        border-bottom: 1px solid $color-dark;
        padding-left: 31px;
        padding-right: 31px;
        padding-top: 34px;
        padding-bottom: 29px;
        margin-bottom: 41px;

        p, div {
          font-family: $font-helvetica;
          font-size: 21px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.33;
          letter-spacing: normal;
          color: $color-highlight;

          strong {
            color: $color-highlight !important;
          }
        }

        p:last-child, div:last-child  {
          padding-bottom: 0px;
        }
      }

      .view-table {
        font-family: $font-helvetica;
        font-size: 18px;
        font-weight: 600 !important;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.33;
        letter-spacing: normal;
        color: $color-dark;
        padding-left: 0px;
        padding-bottom: 15px !important;
        display: flex !important;
        align-items: center;
        &:before {
          content: "";
          background-image: url("../resources/images/viewtable_off.svg");
          width: 30px;
          height: 30px;
          background-repeat: no-repeat;
          background-size: 30px 30px;
          margin-right: 10px;
        }
        &:hover {
          color: $color-primary;
          &:before {
            background-image: url("../resources/images/viewtable_on.svg");
          }
        }
      }

      blockquote{
        padding-left: 50px;
      }

      .pwc-xref, .contentfragment{
        div{
          padding-bottom: 0px !important;
        }
      }
      .p-norm {
        ol {
          list-style-type: none;
          margin-top: 10px;
          li {
            .linum, .p {
              display: inline;
            }
            .linum:after {
              content: '.';
            }
            .cpalinum, .p {
              display: inline;
            }
          }
        }
        .pnum {
          display: inline;
          font-size: 18px;
          font-family: "PwC Helvetica Neue";
          color: #2D2D2D;
          line-height: 1.38;
          font-weight: bold !important;
          font-style: normal;
          font-stretch: normal;
          letter-spacing: normal;
          padding-bottom: 15px;
          word-break: break-word;
          &:after{
            content: ' ';
          }
        }
        p, div {
          display: inline;
        }
      }
      ol[type="static"] {
        list-style-type: none;
        margin-top: 10px;
        li {
          .linum, .p {
            display: inline;
          }
          .linum:after {
            content: '. ';
          }
          .cpalinum, .p {
            display: inline;
          }
        }
      }
      ul.simple {
          padding-bottom: 1rem;
          padding-top: 1rem;
               > li:before {
          content: none !important;
        }
      }
      .pgroup {
        h3, .h3 {
          font-size: 18px;
        }
        .title {
          display: inline;
        }
        padding-bottom: 0 !important;
        &:before {
          content: ">";
          display: inline-block;
          font-weight: bold;
          font-size: 21px;
        }
        .pgroup {
          &:before {
            content: ">>";
            display: inline-block;
            font-weight: bold;
            font-size: 21px;
          }
          .pgroup {
            &:before {
              content: ">>>";
              display: inline-block;
              font-weight: bold;
              font-size: 21px;
            }
            .pgroup {
              &:before {
                content: ">>>>";
                display: inline-block;
                font-weight: bold;
                font-size: 21px;
              }
              .pgroup {
                &:before {
                  content: ">>>>>";
                  display: inline-block;
                  font-weight: bold;
                  font-size: 21px;
                }
                .pgroup {
                  &:before {
                    content: ">>>>>>";
                    display: inline-block;
                    font-weight: bold;
                    font-size: 21px;
                  }
                  .pgroup {
                    &:before {
                      content: ">>>>>>>";
                      display: inline-block;
                      font-weight: bold;
                      font-size: 21px;
                    }
                    .pgroup {
                      &:before {
                        content: ">>>>>>>>";
                        display: inline-block;
                        font-weight: bold;
                        font-size: 21px;
                      }
                      .pgroup {
                        &:before {
                          content: ">>>>>>>>>";
                          display: inline-block;
                          font-weight: bold;
                          font-size: 21px;
                        }
                        .pgroup {
                          &:before {
                            content: ">>>>>>>>>>";
                            display: inline-block;
                            font-weight: bold;
                            font-size: 21px;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      .figure-image-anchor {
        img {
          display: block !important
        }
      }
      .watermark {
        background-image: url("../resources/images/watermarkImage.png");
        background-repeat: repeat;
        padding: 10px 10px 0;
        table {
          background-color: transparent;
        }
      }
      .image {
        display: inline-block;
        text-indent: 0;
        img {
          width: auto !important;
        }
      }
       @include xbrl-element;

       .right_rail_toggle {
          position: absolute;
          background-color: #fff;
          border: 1px solid #ae6800;
          top: 122px;
          width: 34px;
          margin-left: 0;
          z-index: 3;
          flex-grow: 0;
          display: block;
          padding: 0 2px;
          height: 96px;
          @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
            margin-left: -16px;
          }
          .RCL-resize {
            display: block;
            position: relative;
            cursor: pointer;
            //For Resize icon Tooltip
            &[data-title]:hover:after {
              opacity: 1;
              transition: all 0.1s ease 0.5s;
              visibility: visible;
            }
            &[data-title]:after {
              content: attr(data-title);
              position: absolute;
              padding: 5px 7px;
              color: #666;
              border: 1px solid #000;
              opacity: 0;
              z-index: 99999;
              visibility: hidden;
              background-color: #ffffff;
              font-size: 13px;
              white-space: pre;
              font-family: sans-serif;
              top: 50px;
              right: -150%;
            }
          }
          .RCL-drag {
            position: relative;
            top: 16px;
            left: 6px;
            cursor: pointer;
            width: 16px;
          }
          .cross_image {
            margin: 5px;
            transform: rotate(45deg);
            cursor: pointer;
            margin-top: 10px;
            &.plus_sign {
              transform: none;
              width: 24px;
              margin: 2px;
              padding: 6px 0;
            }
          }
          .divider_line {
            display: block;
            width: 0;
            &::after {
              content: '';
              border-bottom: 2px solid #e6e2da;;
              width: 20px;
              display: block;
              margin: 5px 3px 0;
            }
          }
          .rcl-opened-tooltip {
            display: block;
          }
          .rcl-closed-tooltip{
            display: none;
          }
          &.hide_arrow {
            display: flex;
            height: 42px;
            .divider_line {
              display: none;
            }
            .RCL-drag {
              display: none;
            }
            .rcl-opened-tooltip {
              display: none;
            }
            .rcl-closed-tooltip {
              display: block;
            }
          }
       }
       .spacer-line, .search-filters {
        display: none;
      }
       &.hide_right_rail {
        
         .content-page-main {
           margin-right: 0;
         }

        .table-responsive {
          max-width: 100%;
        }
       }
       &.show_right_rail {
        .spacer-line, .search-filters {
          display: flex;
        }
       .table-responsive {
         max-width: 100%;
       }
      }
       .columns {
         .spacer-line {
           &.spacer-line-scrolled {
            .right_rail_toggle {
              position: fixed;
            }
           }
         }
       }
       .content-page-main {
         width: 100%;
         max-width: 100%;
       }
       .newline {
         display: block;
       }
       .page_links {
         display: none;
       }
       #overlay {
        position: absolute;
        display: none;
        width: 50%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: transparent;
        z-index: 2;
        cursor: pointer;
      }

    }

*[data-outputclass="strikethrough"], *[outputclass="strikethrough"] {
  text-decoration:line-through;
}

.doc-body-head {
  &.columns:last-child{
   margin-bottom: 0px !important;
  }
   
  }

.doc-body-head.columns{
  img {
    margin-left: 10px;
  }
}

.slider, .slick-list, .slick-slide {
  outline: none !important;
}

.landing_page_template .container {
  @media(max-width: 1087px) and (min-width: 1025px) {
    padding: 0 20px !important;
    .standard-border {
      display: none;
    }
  }
}

@media (min-width: 240px) and (max-width: 768px) {
  section {
    .container {
      .main-body-content {
        blockquote{
          padding-left: 20px;
        }
        p, div {
          font-size: 14px;

          em {
            font-style: italic;
          }
        }
      }
    }
  }
}

// To remove '>' sign from empty title
.empty-title{
  &:before{
    content: " " !important;
  }
}
// END, remove '>' sign from empty title

.modal.pwc-table-modal{
  .modal-content{
    padding: 0;
    .table{
      td, th {
        border: none;
        & > div {
          font-size: 14px;
        }
      }
      .border-top{
        border-top:1px solid $color-light;
      }
      .border-bottom{
        border-bottom:1px solid $color-light;
      }
      .border-right{
        border-right:1px solid $color-light;
      }
      .border-left{
        border-left:1px solid $color-light;
      }
      .full-border{
        border:1px solid $color-light;
      }
      .no-border{
        border: 0;
      }
      .text-align-left, .text-left {
        text-align: left !important;
      }
      &.none, .frame-none {
        border: none !important; 
      }
      &.frame-top {
        border-top: 1px solid $color-light; 
      }
      &.frame-bottom {
        border-bottom: 1px solid $color-light;
      }
      &.frame-topbot {
        border-top: 1px solid $color-light;
        border-bottom: 1px solid $color-light;
      }
      &.frame-sides {
        border-left: 1px solid $color-light;
        border-right: 1px solid $color-light;
      }
      .align-center, .text-align-center, .text-center {
        text-align: center !important;
      }
      .text-right, .text-align-right {
        text-align: right !important;
      } 
      .text-align-justify, .text-justify {
        text-align: justify !important;
      }
      .vertical-align-top {
        vertical-align: top !important;
      }
      .vertical-align-bottom {
        vertical-align: bottom !important;
      }
      tr.rowsep {
        border-top: 1px solid $color-light !important;
        border-bottom: 1px solid $color-light !important;
      }
      &.ruled{
        td,th{
          border:1px solid $color-light !important;
        }
      }
      &.outer-borders-only{
        thead{
          tr{
            th{
              border-top: 1px solid $color-light !important;
              &:first-child{
                border-left: 1px solid $color-light !important;
              }
              &:last-child{
                border-right: 1px solid $color-light !important;
              }
            }
          }
        }
        tbody{
          tr{
            td{
              &:first-child{
                border-left: 1px solid $color-light !important;
              }
              &:last-child{
                border-right: 1px solid $color-light !important;
              }
            }
            &:last-child{
              td{
                border-bottom: 1px solid $color-light !important;
              }
            }
          }
        }
      }
    }
    .table-responsive {
      max-width: 100%;
      table {
        .text-right{text-align:right}
        .text-center{text-align:center}
        thead, tbody{
          tr{
            &.shade, td, th{
              &.rose{
                background-color: $table-rose;
              }
              &.light-orange{
                background-color: $table-light-orange;

              }
              &.light-yellow{
                background-color: $table-light-yellow;
              }
              &.grey{
                background-color: $table-dark-light;
              }
            }
          }
        }
      }
    }
  }
  caption{
    font-family: $font-helvetica;
    font-size: 21px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: center;
    color: $color-dark;
    padding: 6px 0px;

    &.shade{
      &.dark-rose{
        background-color: $table-dark-rose !important;
        color: $color-white !important;
      }
      &.dark-orange{
        background-color: $table-dark-orange !important;
        color: $color-white !important;
      }
      &.dark-yellow{
        background-color: $table-dark-yellow !important;
        color: $color-white !important;
      }
      &.dark{
        background-color: $table-dark !important;
        color: $color-white !important;
      }
    }
  }
}
