.syndication-report-form{
    width: 960px;
    margin: 0 auto;
}
.coral-Form-fieldwrapper{
    padding: 1em 0;
}
.download-csv-button{
    margin: 1em 0;
}
.foundation-layout-wizard2-header{
    background-color: #f5f5f5;
}
.coral-Form--vertical .coral-Form-fieldlabel {
    padding: 10px 0;
    width: 150px;
    display: inline-block;
}
.coral-Form--vertical foundation-autocomplete.coral-Form-field{
    display: inline-block;
}
.syndication-console-wait.hidden{
    display: none;
}
