# Configuration created by Apache Sling JCR Installer
one.trust.script="<script\ type\=\"text/javascript\"\ src\=\"https://cdn.cookielaw.org/consent/29ee5fdf-5623-495a-92d8-5e0061fefbdf/OtAutoBlock.js\"\ ></script><script\ src\=\"https://cdn.cookielaw.org/scripttemplates/otSDKStub.js\"\ type\=\"text/javascript\"\ charset\=\"UTF-8\"\ data-domain-script\=\"29ee5fdf-5623-495a-92d8-5e0061fefbdf\"\ ></script><script\ type\=\"text/javascript\">function\ OptanonWrapper()\ {\ }</script>"
