<sly data-sly-use.header="com.pwc.madison.core.models.Header">
<noindex>
<!-- <div class="modal-search overflow-disable" id='autocompleteSearch'>
        <div class="modal-content">
            <div>
                <a class="close-autocompleteSearch"><img class="search" src="/etc.clientlibs/pwc-madison/clientlibs/clientlib-site-vp/resources/images/close-popup.svg"></a>
            </div>
            <form class="navbar-form navbar-left hidden-xs" id="searchform" method="get"
                      action="${header.searchURL @ extension='html'}">
            <div class="input auto-suggestion">
                <input type="text" name="q" autocomplete="off" placeholder="Search...">
                <span class="clear-input icon-close-popup">  </span>
                <button type="submit">
                    <span class="search icon-submit-arrow"></span>
                </button>
            </div>
            </form>
            <div class="recent-search-results">
                <h5>${'Your_Recent_Searches' @ i18n, locale=pageProperties.jcr:language}</h5>
                <ul></ul>
            </div>
            <div class="search-results">
                <div class="results suggestions">
                    <h5>${'Suggested_Terms' @ i18n, locale=pageProperties.jcr:language}</h5>
                    <ul></ul>
                </div>
                <div class="results guidance">
                    <h5>${'Suggested_Guidance' @ i18n, locale=pageProperties.jcr:language}</h5>
                    <ul></ul>
                </div>
            </div>
        </div>
</div> -->
</noindex>
    
