.space-bar-content {
  padding-top: 16px;
  padding-bottom: 14px;
}
.favorites_list {
  .space-bar-top {
    margin-top: 28px;
  }
}
.favorites_list {
  .favorite-items {
    font-family: 'PwC Helvetica Neue Light', arial, serif;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: .8;
    padding: 40px 0 !important;
  }
  .extended-cards{
    .madison-card-block{
      margin-bottom: 24px;
      a{
        text-decoration: none;
        .madison-card{
          min-height: 120px;
          -webkit-user-select: text;
          -moz-user-select: text;
          -ms-user-select: text;
          user-select: text;
          .favorite-remove {
            position: absolute;
            display: block;
            top: 10px;
            right: 10px;
            width: 20px;
            padding: 0px;
            height: 20px;
            background-repeat: no-repeat;
            background-image: url(../resources/images/close-popup-dark.svg);
            background-size: 16px;
            background-position: center;

            .favorite-toggle-error {
              opacity: 0;
              pointer-events: none;
              user-select: none;
              transition: all .25s ease-in-out;
              position: absolute;
              padding: 20px;
              right: 130%;
              background-color: white;
              text-align: center;
              min-width: 228px;
              margin-top: -32px;
              box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.2);
          
              p {
                color: #464646 !important;
                opacity: .35; 
                font-size: 16px;
                line-height: 18px;
                letter-spacing: -0.1px;
                font-family: 'PwC Helvetica Neue Bold', arial, serif !important;
                margin: 0;
                padding-bottom: 0 !important;
              }
          
              &.active {
                opacity: 1;
              }
            }
          }
          .date-block {
            position: relative;
          }
          p.date{
            font-family: 'PwC Helvetica Neue Light', arial, serif;
            padding-bottom: 6px;
            @media only screen and (min-width: 240px) and (max-width: 767px) {
              padding-bottom: 20px;
            }
          }
          p.module-heading{
            font-size: 28px !important;
            margin-bottom: 15px;
            padding-bottom: 0;

            @media(min-width: 768px) {
              font-size: 32px;
            }
          }
          p.description{
            @media only screen and (min-width: 240px) and (max-width: 767px) {
              margin-top: 20px;
              margin-bottom: 28px;
            }
          }
          p.feature-tile-content {
            padding-bottom: 0;
            font-family: 'PwC Helvetica Neue Light', arial, serif;
            color: black;
            line-height: 1.4;
            max-height: 4.1em;
            overflow: hidden;

            @media(min-width: 768px) {
              max-height: 2.8em;
            }
          }
          .madison-card-exta-info{
            padding: 0;
            p.brief{
              margin-top: 18px;
              padding-bottom: 0;
              font-family: 'PwC Helvetica Neue Light', arial, serif;
            }
            @media only screen and (min-width: 240px) and (max-width: 767px) {
              p.brief{
                margin-top: 22px;
              }
            }
          }
        }
      }
    }
  }  
}
.simple-modal {
  .modal-content {
    background-color: white;
    padding: 28px 32px;
    max-width: 90%;
    width: 444px;

    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      height: auto !important;
    }

    @media(min-width: 768px) {
      padding: 34px 36px;
    }
    h2 {
      font-family: "ITCCharterCom-Regular";
      font-size: 26px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.13;
      letter-spacing: normal;
      text-align: left;
      color: #2D2D2D;
      padding-bottom: 18px;
      @media(min-width: 768px) {
        font-size: 34px;
      }
    }
    .modal-subtitle {
      font-size: 16px;
      font-family: 'PwC Helvetica Neue Light', arial, serif;

      strong {
        font-family: 'PwC Helvetica Neue Bold', arial, serif;        
      }
    }
    .modal-buttons {
      padding-top: 18px;
      button, a {
        color: #d04a02;
        font-family: 'PwC Helvetica Neue Bold', arial, serif;
        border: none;
        min-width: 83px;
        height: 30px;
        border-radius: 0;
        outline: none !important;
      }

      a {
        border: 1px solid #d04a02 !important;
      }
    }
  }
}