.reset-forgot-body{
  .modal-content{

    @media all and (-ms-high-contrast: none) and (min-width: 769px), (-ms-high-contrast: active) and (min-width: 769px) {
      align-self: center;
      height: auto !important;

      .columns {
        margin: 0;
      }
    }

    .forgot-content{
      border: 48px solid $border-color;
      background-color: #FFFFFF;
      .forgot-form-body{
        width: 364px;
        margin: 0 auto;
        padding-top: 93px;
        padding-bottom: 122px;
        .title{
          font-family: $font-itc-charter;
          font-size: 44px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 0.98;
          letter-spacing: normal;
          color:$muted-text-color;
        }
        .remark{
          font-family: $font-helvetica;
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.21;
          letter-spacing: normal;
          color: $muted-text-color;
        }
        .password-instruction{
          font-family: $font-helvetica;
          font-size: 12px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.17;
          letter-spacing: normal;
          text-align: left;
          color: $color-light;
          padding-top: 5px;
          padding-bottom: 15px;
        }
        form{
          .field{
            .label{
              font-family: $font-helvetica;
              font-size: 14px;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.21;
              letter-spacing: normal;
              color: $muted-text-color;
              padding-top: 25px;
              margin-bottom: 0px;
            }
            .control{
              .input{
                font-family: $font-helvetica;
                font-size: 18px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.06;
                letter-spacing: normal;
                color: $color-dark;
                border: none;
                border-bottom: 1px solid $color-light;
                border-radius: 0px;
                box-shadow: none;
                padding-left: 0px;
              }
            }
            .help {
              min-height: 17px;
              margin-top: 4px;
              position: absolute;
              p {
                font-family: "PwC Helvetica Neue";
                font-size: 12px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.42;
                letter-spacing: normal;
                text-align: left;
                color: $color-primary;
              }
            }
          }
          .reset-btn{
            font-family: $font-helvetica;
            font-size: 12px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.25;
            letter-spacing: 0.6px;
            text-align: center;
            color: $color-primary;
            background-color: transparent;
            border: 1px solid;
            padding: 12px 20px;
            margin-top: 18px;
            cursor: pointer;
            &:focus{
              //outline: none;
            }
          }
          .cancel-btn{
            font-family: $font-helvetica;
            font-size: 12px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.25;
            letter-spacing: 0.6px;
            text-align: center;
            color: $muted-text-color;
            background-color: transparent;
            border: 0px solid;
            margin-left: 30px;
            margin-top: 18px;
            cursor: pointer;
            &:focus{
              //outline: none;
            }
          }
        }
      }
    }
  }
  .modal-close::before {
    width: 28px;
  }
  .modal-close::after {
    height: 28px;
  }
}

.reset-body{
  .modal-content{
    .forgot-content{
      .forgot-form-body{
        padding-top: 35px !important;
        padding-bottom: 40px !important;
        form{
          .field{
            .label{
              padding-top: 15px !important;
            }
            .control{
              a{
                color: $color-dark;
                i{
                  position: absolute;
                  right: 0px;
                  .icon-password_show , .icon-password_hide {
                    position: relative;
                    top: -27px;
                    font-size: 16px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 240px) and (max-width: 767px){
  .reset-forgot-body{
    .modal-content{
      max-height: 100vh;
      overflow: hidden;
      .forgot-content{
        border: 0px;
        background-color: #FFFFFF;
        height: 100vh;
        .forgot-form-body{
          width: auto;
          padding-left: 15px;
          padding-right: 15px;
          padding-top: 60px;
          padding-bottom: 0px;
          .title{
            font-size: 38px;
            line-height: 1.13;
            border-bottom: 1px solid $color-dark;
            padding-bottom: 15px;
          }
          .remark{
            color: $color-light;
            padding-bottom: 30px;
          }
          form{
            .field{
              .label{
                padding-top: 0px;
              }
              .control{
                .input{
                  padding-bottom: 17px;
                  padding-top: 9px;
                }
              }
            }
            .reset-cancel-btn{
              margin-top: 55px;
            }
          }
        }
      }
    }
    .modal-close::before {
      background-color: $color-dark;
    }
    .modal-close::after {
      background-color: $color-dark;
    }
  }
  .reset-body{
    .modal-content{
      .forgot-content{
        .forgot-form-body{
          padding-top: 60px !important;
          .title{
            margin-bottom: 15px !important;
          }
          .remark{
            color: $muted-text-color;
            padding-bottom: 15px;
          }
          form{
            .field{
              .label{
                padding-top: 15px !important;
              }
              .control{
                a{
                  color: $color-dark;
                  i{
                    position: absolute;
                    right: 0px;
                    .icon-password_show, .icon-password_hide {
                      position: relative;
                      top: -40px;
                      font-size: 16px;
                    }
                  }
                }
              }
            }
          }
          .password-instruction{
            font-size: 14px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 769px), print{
  .reset-forgot-body{
    .modal-content {
      margin: 0 auto;
      max-height: calc(100vh - 40px);
      width: 870px;
    }
  }
}
