.cmp-font-grey {
  color:#7D7D7D;;
}

.cmp-font-orange {
  color: #D04A02;
}

.cmp-font-red {
  color: #FF0000;
}

.cmp-font-black {
  color: #000;
}

.cmp-font-pink {
  color: #db536a;
}

.cmp-font-white {
  color: #fff;
}

.cmp-font-yellow {
  color: #FFB600;
}

.article-text-heading {
  font-size: 68px;
  line-height: 75px;
}