$color-primary: #D04A02;
$color-dark: #2D2D2D;
$color-light:#7D7D7D;
$color-yellow: #ffa927;
$color-direction:#AE6800;
$color-warning: #FFB600;
$color-highlight:#933401;
$color-white: #FFFFFF;
$color-yellow-title:#eb8c00;
$border-color: #fd6412;
$pure-black: #000000;
$color-athens-grey: #DEDEDE;
$muted-text-color: #464646;
$light-border: #DEDEDE;
$background-color-light: #F7F7F7;
$background-color-alert:#FFA929;
$light-content-text: #707070;
$content-background-color: #f2f2f2;
$color-primary-checkbox: #D14A02;
$color-loblolly: #A7A9AC;
$background-color-dark: $color-dark;
$background-color-light-1: #fbfbfb;
$background-color-tiles: #D5D5D5;
$background-color-hero: #CCCCCC;
$text-shading-yellow:#FFEED4;
$text-shading-orange:#F6DBCC;
$text-shading-rose:#F8DCE1;
$border-hover-hero:#CC8721;
$news-border-color:#DFDFDF;
$table-dark-rose: #db536a;
$table-rose:#F8DCE0;
$table-dark-orange: #D04A02;
$table-light-orange: #F6DBCC;
$table-dark-yellow: #ffa929;
$table-light-yellow: #FFEED4;
$table-dark: #2d2d2d;
$table-dark-light: #D5D5D5;
$muted-bg-color: #e5e5e5;
$border-color-yellow: #FFCE7A;
$light-grey-color: #E3E2E3;
$table-pink: #D93954;

$new-grey-color: #898989;
$new-grey-color2: #a1a1a1;
$new-grey-color3: #777777;

$green-color: #185C2C;
$blue-color: #0066FF;

$font-helvetica: "PwC Helvetica Neue";
$font-helvetica-bold: "PwC Helvetica Neue Bold";
$font-itc-charter: "ITCCharterCom-Regular";
$font-itc-charter-bold: "ITCCharterCom-Bold";
