# Configuration created by Apache Sling JCR Installer
one.trust.script="<script\ type\=\"text/javascript\"\ src\=\"https://cdn.cookielaw.org/consent/780e950f-6f58-4e58-bfac-6181a53020a7/OtAutoBlock.js\"\ ></script>\ <script\ src\=\"https://cdn.cookielaw.org/scripttemplates/otSDKStub.js\"\ type\=\"text/javascript\"\ charset\=\"UTF-8\"\ data-domain-script\=\"780e950f-6f58-4e58-bfac-6181a53020a7\"\ ></script>\ <script\ type\=\"text/javascript\">\ function\ OptanonWrapper()\ {\ }\ </script>"
